<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-color: skyblue;">
    


        <div class="container my-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <a href="/" class="btn btn-primary mb-2">back</a>
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <img class="shadow" style="height: 250px; width: 250px; border-radius: 50%; object-fit: cover;" src="/images/products/<%= singleproduct.photo %>" alt="">
                                </div>
                                <div class="col-md-7">
                                    <table class="table table-striped">
                                        <tbody>
                                       
                                            <tr>
                                                <td>Name</td>
                                                <td>:</td>
                                                <td><%= singleproduct.name %></td>
                                            </tr>
                                            <tr>
                                                <td>Id</td>
                                                <td>:</td>
                                                <td><%= singleproduct.id %></td>
                                            </tr>
                                            <tr>
                                                <td>regular_price</td>
                                                <td>:</td>
                                                <td style="text-decoration: line-through;"><%= singleproduct.regular_price %></td>
                                            </tr>
                                            <tr>
                                                <td>Sell_price</td>
                                                <td>:</td>
                                                <td><%= singleproduct.sell_price %></td>
                                            </tr>
                                            <tr>
                                                <td>slug</td>
                                                <td>:</td>
                                                <td><%= singleproduct.slug %></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>